
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<!DOCTYPE html>
<html>

<head>

    <meta name="viewport" content="width=device-width" />

    <link href="@Url.Content("~/Content/main.css")" rel="stylesheet" type="text/css" />
    <link href="@Url.Content("~/Content/font-awesome.min.css")" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <title></title>

</head>

<body>
  
        <div class="col-lg-offset-2 col-lg-8">
            <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true">
                <div class="modal-dialog modal-lg" style="padding-right:200000px">
                    <div class="modal-content">
                     
                        <img src="@Url.Action("BillChart")" />


                    </div>
                </div>
            </div>
        </div>

    <h3 style="margin-left:1050px;"><a href="@Url.Action("Logout", "User", null)">Logout</a></h3>

    <h2><a href='@string.Format("/User/Index")'>Liste des utilisateurs</a></h2>
        <h3 style="text-align:left;float:left;color:brown"><a href='@string.Format("/User/Index")'>Volunteer</a></h3>
        <h3 style="text-align:right;float:left; margin-left: 10px;"><a href='@string.Format("/User/getVol")'>Association</a></h3>
        <h3 style="text-align:right;float:left; margin-left: 10px;"><a href='@string.Format("/User/ListReport")'>List Report</a></h3>
        <h3 style="text-align:right;float:left; margin-left: 10px;"><a  data-toggle="modal" data-target=".bd-example-modal-lg">Statistique</a></h3>
        
        <hr style="clear:both;" />



  
    <h4>Search volunteer</h4>
        @using (Html.BeginForm("Index", "User", FormMethod.Get))
        {




            <div class="row uniform">
                <div class="9u 12u$(small)" id="div1">
                    <input type="text" name="search" required />
                </div>

                <div class="3u$ 12u$(small)">
                    <input type="submit" value="Search" class="fit" />
                </div>

            </div>
            <br />

            <input type="radio" id="rdobuy" name="SearchBy" value="mail" checked="checked" />
            <label for="rdobuy">Mail</label>

            <input type="radio" id="rdobuy1" name="SearchBy" value="gender" />
            <label for="rdobuy1">Gender</label>

            <input type="radio" id="rdobuy2" name="SearchBy" value="lastName" />
            <label for="rdobuy2">Name</label>



        }
        <div class="table-wrapper">

            <table cellpadding="2" cellspacing="2" border="1" id="resultTable">


                @if (ViewBag.result != null)
                {
                    <tr>
                        <th>Id </th>
                        <th>EMail </th>
                        <th>Nom </th>
                        <th>Prenom </th>
                        <th>Sexe </th>
                        <th>Address </th>

                    </tr>

                    foreach (var p in ViewBag.result)
                    {


                        <tr>
                            <td id="first">@p.id</td>
                            <td id="first">@p.mail</td>
                            <td id="first">@p.firstName</td>
                            <td id="first">@p.lastName</td>
                            <td id="first">@p.gender</td>
                            <td id="first">@p.address</td>
                            <td>



                                @if (@p.numberAction == "1")
                                {

                                    using (Html.BeginForm())
                                    {
                                        @Html.AntiForgeryToken()
                                    <td>

                                        <a class="btn btn-danger" href="@Url.Action("Unblock", "User", new { id= p.id})">
                                            <i class="glyphicon glyphicon-trash"></i> Unblock
                                        </a>
                                    </td>
                                    }
                                }
                                else
                                {
                                    <td>

                                        <a class="btn btn-danger" href="@Url.Action("Report", "User", new { id= p.id})">
                                            <i class="glyphicon glyphicon-trash"></i> Block
                                        </a>
                                    </td>
                                }
                            </tr>

                    }
                }


                @Html.Raw(ViewBag.msg1)

            </table>
     
        </div>
        <script src="~/Scripts/jquery-1.5.min.js"></script>
        <script>
            $(document).ready(function () {
                $("#rdobuy1").click(function () {
                    $("#div1").html('<select name="search"><option value="Male">Male</option><option value="Female">Female</option></select>')
                });
                $("#rdobuy").click(function () {
                    $("#div1").html('<input type="text" name="search" required />')
                });
                $("#rdobuy2").click(function () {
                    $("#div1").html('<input type="text" name="search" required />')
                });

            });
        </script>
        <script src="~/Scripts/jquery-1.10.2.min.js"></script>
        <script>
            $(document).ready(function () {
                var tid = "";
                $('#resultTable td').click(function (event) {
                    tid = $(this).attr('id');
                });
                $("#del").click(function () {
                    console.log(tid);
                    if ($('#' + tid).length) {
                        $('#' + tid).remove();
                    }
                });
            });
        </script>

</body>

</html>